<span class="bg-secondary-subtle" style="color: green"><%= notice %></span>

<% content_for :title, "Articles" %>

<div class="w-100 d-flex flex-column align-items-center bg-secondary-subtle text-black" data-bs-theme="light">

  <h1>All Articles</h1>

  <% @articles.each do |article| %>

    <div class="card text-center w-50 my-4 shadow bg-body-tertiary">
      <div class="card-header">
        <i>by Raphael Erbetta</i>
      </div>
      <div class="card-body py-4">
        <h5 class="card-title text-success"><%= article.title %></h5>
        <p class="card-text"><%= article.description %></p>
        <div class="d-flex flex-row align-items-center justify-content-center">
          <%= link_to "View", article, class: "btn btn-outline-success" %></td>
          <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-info mx-3" %>
          <%= button_to "Destroy", article, method: :delete, class: "btn btn-outline-danger" %>
        </div>
      </div>
      <div class="card-footer text-body-secondary">
        <small>Created about X days ago, edited about X days ago</small>
      </div>
    </div>
  
  <% end %>

  <%= link_to "New article", new_article_path, class: " btn btn-outline-dark" %>

</div>

