<p style="color: green"><%= notice %></p>

<% content_for :title, "Articles" %>

<div class="d-flex flex-column align-items-center">
    <h1 class="text-black mb-3">Articles</h1>

    <div class="container">
        <table class="table table-striped table-hover table-borderless mb-3">
            <thead>
                <tr class="table-dark">
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col" colspan="3" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <% @articles.each do |article| %>
                    <tr>
                        <td><%= article.title %></td>
                        <td><%= truncate(article.description, length: 150) %></td>
                        <td><%= link_to "Show article", article, class: "btn btn-outline-info" %></td>
                        <td><%= link_to "Edit article", edit_article_path(article), class: "btn btn-outline-success" %></td>
                        <td><%= button_to "Destroy article", article, method: :delete, class: "btn btn-outline-danger" %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <%= link_to "New article", new_article_path, class: "btn btn-outline-dark px-4 my-3" %>
</div>


